

body {
  margin: 0;
  background-color: white !important;
  font-family: sans-serif;
  padding-top: 70px!important;
  overflow-x:hidden;
  
    /* scroll-margin-top: 100px !important; */
}

/*BUTTONS*/

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Te-title span{
  color: #1679AB;
}

.btn1 {
  border:solid 1px #074173 !important;
  width:  150px !important;
  color: white !important;
  background-color: #074173 !important;
  box-shadow: rgba(0, 0, 0, 0.400) 0px 5px 15px !important;
  transition: all 0.5s !important;
}
.btn1:hover {
  border:solid 1px #074173 !important;
  background-color: white !important;
  color: #074173 !important;
 
}
.btn2 {
  border:solid 1px #074173 !important;
  width:  150px !important;
  color: #074173 !important;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.400) 0px 5px 15px !important;
  transition: all 0.5s !important;
}
.btn2:hover {
  border:solid 1px #074173 !important ;
  color: white !important;
  background-color: #074173 !important;
}


